@import "../../shared/styles/theme.scss";

.page-selector {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $h_background;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    width: 11px;
    height: 75px;

    .page-locator {
        width: 8px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $background;
        cursor: pointer;
        margin: 4px 0;

        &.active {
            width: 12px;
        }
    }
}