@import "../../shared/styles/theme";

.feedback {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    .left {
        flex: 0.4;
        .title {
            font-weight: 600;
            font-size: 30px;
            margin: 30px 0;
        }
        .contacts {
            margin-top: 40px;
            font-size: 14px;
            color: $second_text;
            line-height: 2;
        }
    }
    .right {
        flex: 0.6;
        padding-left: 50px;
        margin: 30px 0;
        .title {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .accordion {
            display: flex;
            flex-direction: column;
            &-item {
                border-bottom: 2px solid $border;
            }
            &-title {
                font-size: 18px;
                cursor: pointer;
                font-weight: 500;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    font-size: 25px;
                    transition: 0.2s;

                    &.active {
                        transform: rotate(90deg);
                    }
                }
            }
            &-collapse {
                overflow: hidden;
                height: 0;
                padding: 20px;
            }
        }
    }
}