@import "../../shared/styles/theme";

.buy {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;

    .title {
        font-size: 35px;
        font-weight: 700;
    }

    .partners {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .partner {
            background-color: $card;
            aspect-ratio: 2;
            border-radius: 5px;
            flex: 0 0 calc(33.333% - (20px * 2 / 3));
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background-color: $h_card;
            }
        }
    }
}