@use "../../shared/styles/theme.scss" as *;

.product {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    .label {
        flex: 0.4;
        display: flex;
        flex-direction: column;
        .title {
            font-size: 40px;
            margin-bottom: 20px;
            font-family: $second_fonts;
        }

        button {
            font-size: 20px;
            padding: 10px 55px;
            margin-top: 20px;
            border-radius: 10px;
            width: fit-content;
            background-color: $background;
            border: 1px solid $h_background;
            color: $text;
            cursor: pointer;
            outline: none !important;
            &:hover {
                background-color: #171717;
                color: $background;
            }
        }
    }
    .preview {
        background-size: 120%;
        background-position: center;
        flex: 0.5;
        background-repeat: no-repeat;
        pointer-events: none;
        height: 80%;
    }
}

@media (max-width: 1024px) {
    .product {
        flex-direction: column-reverse !important;
        align-items: initial !important;
        justify-content: center !important;

        .preview {
            flex: .4;
            background-size: cover !important;
        }
        .label {
            justify-content: center;
            text-align: center;

            .title {
                margin-bottom: 40px;
            }
            span {
                font-size: 20px;
            }
            button {
                width: 100%;
                height: 60px;
                font-size: 25px;
                margin-top: 40px;
            }
        }
    }
}

@media (max-width: 431px) {
    .product {
        .label {
            .title {
                margin-bottom: 20px;
                font-size: 20px;
            }
            span {
                font-size: 18px;
            }
            button {
                height: 40px;
                font-size: 20px;
                margin-top: 20px;
            }
        }
    }
}