@import "../../shared/styles/theme.scss";

.product {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    .label {
        flex: 0.4;
        display: flex;
        flex-direction: column;
        .title {
            font-size: 40px;
            margin-bottom: 20px;
            font-family: $second_fonts;
        }

        button {
            font-size: 20px;
            padding: 10px 55px;
            margin-top: 20px;
            border-radius: 10px;
            width: fit-content;
            background-color: $background;
            border: 1px solid $h_background;
            color: $text;
            cursor: pointer;
            outline: none !important;
            &:hover {
                background-color: #171717;
                color: $background;
            }
        }
    }
    .preview {
        background-size: 120%;
        background-position: center;
        flex: 0.5;
        background-repeat: no-repeat;
        pointer-events: none;
        height: 80%;
    }
}