@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

$primary_fonts: "Montserrat", "Heebo", "Roboto", "Segoe UI Historic", "Segoe UI", sans-serif;
$second_fonts: "Bona Nova SC";


$background: #e9e9e9;
$h_background: #aaaaaa;
$text: #2b2b2b;
$second_text: #8c8c8c;
$border: #cdcdcd;
$card: #dcdcdc;
$h_card: #fff7e7;

.noselect, .material-symbols-rounded, .material-symbols-outlined  {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll {
    &:hover {
        &::-webkit-scrollbar-thumb {
            display: block;
        }
    }
    &::-webkit-scrollbar {
        width:  5px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        transition: 200ms;
        display: none;
        &:hover {
            transition: 200ms;
        }
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}
* {
    transition: 200ms;
}

body {
    padding: 0;
    margin: 0;
    font-family: $primary_fonts;
    background-color: $background;
    color: $text;
    overflow: hidden;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}