@import "../../shared/styles/theme";

.about-us {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-weight: 500;
            font-size: 28px;
            color: $text;
            font-family: $second_fonts;
            margin: 20px 0;
            opacity: .8;
        }
        span {
            width: 50%;
            text-align: center;
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        position: relative;
        height: 100%;
        align-items: end;
        margin-bottom: 60px;
        .card {
            width: 250px;
            height: 300px;
            flex: 1;
            position: absolute;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            border: 4px solid $border;
            cursor: pointer;
        }
    }
}
