@use "../../shared/styles/theme" as *;

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    position: relative;
    align-items: center;
    margin-top: 20px;
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: .1;
        .title {
            font-weight: 500;
            font-size: 28px;
            color: $text;
            font-family: $second_fonts;
            margin: 20px 0;
            opacity: .8;
            text-align: center;
        }
        span {
            width: 50%;
            text-align: center;
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        align-items: center;
        flex: .9;
        .card {
            width: 17%;
            aspect-ratio: .75;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            border: 4px solid $border;
            cursor: pointer;
        }
    }
}


@media (max-width: 1024px) {
    .cards {
        flex-wrap: wrap;
        align-items: initial !important;
        margin-top: 60px;
        .card {
            flex: 0 0 50%;
            aspect-ratio: 1.7 !important;
            transform: none !important;
            border: none !important;
            border-radius: 0 !important;
        }
    }
    .text {
        span {
            width: 80% !important;
        }
    }
}