@use "../../shared/styles/theme.scss" as *;

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    .logo {
        width: 100%;
        margin: 20px 0;
        font-size: 26px;
        font-family: $second_fonts;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        &__item {
            cursor: pointer;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text;
            opacity: .6;
            height: 100%;
            padding: 10px;
            position: relative;
            text-decoration: none;
            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 1;
                text-decoration: none;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $text;
                    transition: transform 0.3s ease;
                }
            }
        }
    }
}